In [10]:
import sqlite3
#conn = sqlite3.connect('..\sampledb\GettingStartedWithSQL\weather_stations.db')
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [11]:
cursor.execute('''CREATE TABLE SCHOOL
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')
cursor.close()

In [12]:
conn.commit()
conn.close()

# Insert Some Data (assumes import sqlite3 has been run)

In [13]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'Rohan', 14, 'Delhi', 200)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'Allen', 14, 'Bangalore', 150 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'Martha', 15, 'Hyderabad', 200 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'Palak', 15, 'Kolkata', 650)");
conn.commit()
conn.close()

In [17]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
for row in cursor.execute("SELECT id, name, marks from SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  Rohan
MARKS =  200

ID =  2
NAME =  Allen
MARKS =  150

ID =  3
NAME =  Martha
MARKS =  200

ID =  4
NAME =  Palak
MARKS =  650

In [22]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
conn.execute("UPDATE SCHOOL set MARKS = 250 where ID = 3")
conn.commit()
for row in cursor.execute("SELECT id, name, address, marks from SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  Rohan
MARKS =  Delhi

ID =  2
NAME =  Allen
MARKS =  Bangalore

ID =  3
NAME =  Martha
MARKS =  Hyderabad

ID =  4
NAME =  Palak
MARKS =  Kolkata

In [25]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
conn.execute("DELETE from  SCHOOL where ID = 2")
conn.commit()
for row in cursor.execute("SELECT id, name, address, marks from SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  Rohan
MARKS =  Delhi

ID =  3
NAME =  Martha
MARKS =  Hyderabad

ID =  4
NAME =  Palak
MARKS =  Kolkata